@font-face {
   font-family: "The Year of Handicrafts Med";
   src: url("fonts/The Year of Handicrafts Medium.eot") format("embedded-opentype"), url("fonts/The Year of Handicrafts Medium.otf") format("opentype"), url("fonts/The Year of Handicrafts Medium.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Bebas Neue Bold";
   src: url("fonts/BebasNeueBold.eot") format("embedded-opentype"), url("fonts/BebasNeueBold.otf") format("opentype"), url("fonts/BebasNeueBold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
}